<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Information about Covid-19</h1>
        <a href="/all/5fe71b40c3961d39ecc69b53" class="btn btn-secondary">All</a>
        <% countries.forEach(country => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title"><%= country.country %></h3>
                    <div class="card-text mb-2">Cases: <%= country.cases %></div>
                    <div class="card-text mb-2">Deaths: <%= country.deaths %></div>
                    <div class="card-text mb-2">Recovered: <%= country.recovered %></div>
                    <a href="countries/<%= country.id %>" class="btn btn-primary">Read More</a>
                    <a href="countries/edit/<%= country.id %>" class="btn btn-info">Edit</a>
                </div>
            </div>
       <% }) %>
        
    </div>
</body>
</html>