<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Country</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-1"><%= country.country %></h1>
    <div class="mb-2">Cases: <%= country.cases %></div>
    <div class="mb-2">Deaths: <%= country.deaths %></div>
    <div class="mb-2">Recovered: <%= country.recovered %></div>
    <div class="mb-2">Test: <%= country.tests %></div>
    <div class="mb-2">Population: <%= country.population %></div>
    <div class="mb-2">Continent: <%= country.continent %></div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/countries/edit/<%= country.id %>" class="btn btn-info">Edit</a>
  </div>
</body>
</html>